{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}

<div class="container mt-4">
    {% include '_messages.html' %}
    <p>
    <hr style="background-color: green;">
    Invoice: {{orders.invoice}}
    <br>
    Status: {{orders.status}}
    <br>
    Customer Name: {{customer.name}}
    <br>
    Customer Email: {{customer.email}}
    <br>
    Customer Contact: {{customer.contact}}
    <hr style="background-color: green;">
    <br>
    <br>
    <br>
</p>
    <div class="row">
       <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Name</th>
                <th>Color</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
            </thead>
            <tbody>
                
                {% for key , product in orders.orders.items() %}
                {% set discount = "%0.2f" |format((product.discount/100) * product.price|float) %}
                <tr>
                    <td>{{ loop.index }}</td>
                  
                    <td style="width: 20%;">{{ product.name }}</td>

                <form action="{{url_for('updatecart', code=key )}}" method="POST">
                    <td>
                        {{product.color|capitalize}}
                    </td>


                    <td>${{"%.2f"|format(product.price) }}</td>
                    <td> {{product.quantity}} </td>
                    {% if product.discount > 0 %}
                    <td>{{ product.discount }}% &nbsp; is {{discount}}</td>
                    {% else %}
                    <td>_</td>
                    {% endif %}
                    {% set subtotal = product.quantity|int * product.price|float %}
                    <td>{{"%0.2f"|format((subtotal|float) - discount|float)}}</td>
                   
                </form>
                    
                </tr>
                {% endfor %}
                <tr>
                    
                    <td>
                        {% if orders.status =='Paid' %}
                        {% else %}
                        <form action="{{url_for('payment')}}" method="POST">
                        {% set amount = grandTotal.replace('.','') %}
                        <input type="hidden" name="amount" value="{{amount}}">
                        <input type="hidden" name="invoice" value="{{orders.invoice}}">
                        <script
                          src="https://checkout.stripe.com/checkout.js"
                          class="stripe-button"
                          data-key="pk_test_51Ht7LZL9C1Q7gxI0HUeWl1wW82c5enRNKygtzUQ6W21qrktvY9faiI9aBnXxiS0HwSrMbLlN11Rb54O1Bej5e6Jf00vQGzxxcM"
                          data-name="E-shop"
                          data-description="Comfortable cotton t-shirt"
                          data-amount="{{amount}}"
                          data-currency="ngn">
                        </script>
                      </form>
                      {% endif %}
                    </td>
                    <td width="35"></td>
                    <td colspan="3"><h4>V.A.T : ${{tax}}</h4></td>
                    <td colspan="4"><h4>Grand Total : ${{grandTotal}}</h4></td>
                    
                    <td>
                        <form action="{{url_for('get_pdf', invoice=orders.invoice)}}" method="POST">
                            <button type="submit" class="btn btn-info"> Get PDF </button> 
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock content %}